.footer-next {
    /* border: 2px solid darkblue; */
    /* border: 2px solid white; */
    background-color: black;
    display: flex;
    justify-content:center;
    gap: 50px;
    /* min-height: 500px; */
}
.footer form{
    color: white;
}
.footer>div>div{
    /* border: 2px solid rgb(11, 184, 23); */
    /* width: 1200px; */
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    z-index: 999px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    /* position: absolute; */
}
.footer li {
    list-style-type: none;
    color: white;
}
.down {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 400px; */
    /* height: 700px; */
    /* border: 2px solid darkorange;  */
    background-color: black;
    display: flex;
    /* margin: 0; */
    /* gap: 10px; */
    /* height: 300px; */
     /* padding: 20px 0;  */
     gap: 5px;
     /* padding-bottom: 50px; */
     /* width: 900px; */


}
.down h1 {
    /* width: 300px; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 400px;
    font-weight: lighter;
    margin-top: 10px;
    /* position: absolute; */
    position: relative;
    color: white;
    /* border: 2px solid seashell; */
    display: flex;
    justify-content: center;
    /* padding: 0; */
    
}
.down>div {
    max-width: 1200px;
    /* margin-top: -30px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* width: 400px; */
    /* border: 2px solid darkgreen; */
    
}
.down p{
    /* margin-top: -30px; */
    color:white;
}
.down>div ul {
    display: flex;
    gap: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content:flex-start;
}
.end-foot{
    width: 1200px;
    /* height: 300px; */
    /* margin-top: -30px; */
    /* border: 2px solid darkkhaki; */
}
@media (max-width:768px) {
    .footer>div {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }
    .down h1 {
        font-size: 50px;
    }
}