.navigation-bar-container {
    border: 2px solid darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    /* gap: 300px; */
    /* color: chartreuse; */
}
.navigation-bar-container h1 {
    font-size: 30px;
    font-weight: 500;
}
.navigation-bar-container>ul>li {
    list-style-type: none;
}
.navigation-bar-container ul {
    display: flex;
    gap: 20px;
}