.side-bar {
    /* border: 2px solid rgb(12, 139, 0); */
    width: 250px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
}
.side-bar h1,h2{
    font-weight: lighter;
}
.links li {
    list-style-type: none;
    margin-bottom: 10px;

}
.sidebar-links{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.cat{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
    background-color: transparent;
}