.allproducts-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 30px;
    
}
.search-center{
    display: flex;
    justify-content: center;
}
.search-products{
    /* background-color: aquamarine; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    gap: 10px;
    width: 550px;
    /* border: 2px solid darkblue; */
    border-bottom: 2px solid grey;
    
}
.search-products input:focus{
    outline: none;
}
.search-products input{
    width: 500px;
    height: 30px;
    background-color: transparent;
    border: none;
   
}
