.new-card img{
    width: 300px;
    height: 400px;
}
.new-card{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.new-card-link{
    color: black;
    text-decoration: none;
}