body{
    margin: auto 0;
    padding: 0;
}
.front-image {
    width: 350px;
    height: 500px;
    position: relative;
    /* z-index: 100px; */
    /* margin-left: 200px; */
    /* margin: 40px; */
}
.main{
    /* border: 2px solid darkblue; */
    display: flex;
    justify-content:center;
}
.home-bestseller {
    /* border: 2px solid darkblue; */
    display: flex;
    justify-content: center;
}
.home-page{
    /* display: flex; */
    /* justify-content: end; */
    /* background-color: rgb(224, 199, 245); */
}
.home-content{
    /* border: 5px solid darkviolet; */
    display: flex;
    justify-content:flex-end;
    width: 700px;
}