.page_404 {
  display: flex;
  /* justify-content:flex-start; */
  /* align-items: center; */
  flex-direction: column;
  /* height: 100vh; */
  font-family: "Arvo", serif;
  /* background-color: #b54545; */
  /* border: 2px solid darkblue; */
  text-align: center;
  /* padding: 20px; */
  margin-top: -.1px;
}

.container_404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.four_zero_four_bg {
  width: 500px;
  height: 300px;
  background-image: url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* margin-bottom: 20px; */
}

.content_box_404 h1 {
  font-size: 80px;
  margin: 0;
  color: #333;
}

.content_box_404 h3 {
  font-size: 30px;
  margin: 10px 0;
  color: #555;
}

.content_box_404 p {
  font-size: 18px;
  color: #777;
  /* margin-bottom: 20px; */
}

.link_404 {
  color: #fff;
  /* padding: 12px 25px; */
  background-color: #39ac31;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.link_404:hover {
  background-color: #2f8a28;
}
