.bracelets-card img{
    width: 300px;
    height: 400px;
    /* transition: transform 0.3s ease; */
    transform-origin: center;
    /* overflow: hidden; */
    /* object-fit: cover; */
}
.bracelets-card img:hover{
    /* transform: scale(1.1); */
}
