
.login {

    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}
.login div:nth-child(1) {
}
.login img {
    width: 400px;
}
.login-form>div>div{
    display: flex;
    flex-direction: column;
}
.first{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-form h1 {
    font-family: 'Times New Roman', Times, serif;
}

.login-form input[type="email"],
.login-form input[type="password"]{
    width: 420px;
}
.login-form input{
    min-height: 50px;
}
.check  {
    display: flex;
    align-items: center;
}
.login button {
    width: 100%;
    height: 50px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid grey
}
.login button:hover {
    background-color: rgb(181, 179, 179);
}
input {
    font-family: 'Times New Roman', Times, serif;
}
.error-alert {
    width: 100%;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.general{
    display: flex;
    flex-direction: column;
    
}
.general1{
    margin-top: 20px;
}