
.signup {

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}
.signup div:nth-child(1) {
}
.signup>div>img {
    max-width: 400px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signup-form>div>div{
    display: flex;
    flex-direction: column;
}
.signup-first{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sign-form h1 {
    font-family: 'Times New Roman', Times, serif;
}

/* .sign-form input[type="email"],
.sign-form input[type="password"]{
    /* width: 420px; */
/* }  */
.signup-form>div>input{
    height: 50px;
    width: 300px;
}
/* .check  {
    display: flex;
    align-items: center;
} */
.signup button {
    width: 100%;
    height: 50px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    /* margin-top: 10px; */
    background-color: transparent;
    border: 1px solid grey
}
.signup button:hover {
    background-color: rgb(181, 179, 179);
}
input {
    font-family: 'Times New Roman', Times, serif;
}
/* .error-alert {
    width: 100%;
    color: red;
    font-family: 'Times New Roman', Times, serif;
} */
/* .signup-details{
    display: flex;
    flex-direction: column;
    
}
.signup-details1{
    margin-top: 20px;
} */
 @media (max-width:768px) {
    .signup>div>img {
        width: 200px;
    }
    .signup{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
 }