.bestseller-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    /* border: 2px solid darkorchid; */
    font-family: 'Times New Roman', Times, serif;
}