.best-seller > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid darkorchid; */
}
.best-seller > div:nth-child(2) {
    display: flex;
    gap: 50px;
    /* justify-content: space-evenly; */
    /* width: 700px; */
    /* border: 2px solid rgb(68, 204, 50); */
    /* gap: 20px; */
}
.best-seller>div img{
    width: 250px;
}
.best-seller>div {
    /* border: 2px solid darkgreen; */
    /* width: 100%; */
}