.ear-card>img{
    width: 300px;
}
.ear-card{
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
}
.ear-card h3,h4{
    font-family: 'Times New Roman', Times, serif;
}
.earring-card-link{
    color: black;
    text-decoration: none;
}