.we-txt{
    position: absolute;
    top: 100px;
    left: 130px;
    /* border: 10px solid deeppink; */
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: end;
    height: 400px;
    font-family: 'Times New Roman', Times, serif;
}
.we-txt h1{
    font-size: 40px;
    font-weight: lighter;
}
.we-txt h3{
    font-weight: lighter;
    font-size: 15px;
}